@font-face {
    font-family: IRANSansXFaNum;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("~assets/fonts/fontIran/woff2/IRANSansXFaNum-Thin.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansXFaNum-Thin.woff") format("woff")
}

@font-face {
    font-family: IRANSansXFaNum;
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url("~assets/fonts/fontIran/woff2/IRANSansXFaNum-UltraLight.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansXFaNum-UltraLight.woff") format("woff")
}

@font-face {
    font-family: IRANSansXFaNum;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("~assets/fonts/fontIran/woff2/IRANSansXFaNum-Light.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansXFaNum-Light.woff") format("woff")
}

@font-face {
    font-family: IRANSansXFaNum;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("~assets/fonts/fontIran/woff2/IRANSansXFaNum-Regular.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansXFaNum-Regular.woff") format("woff")
}

@font-face {
    font-family: IRANSansXFaNum;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("~assets/fonts/fontIran/woff2/IRANSansXFaNum-Medium.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansXFaNum-Medium.woff") format("woff")
}

@font-face {
    font-family: IRANSansXFaNum;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("~assets/fonts/fontIran/woff2/IRANSansXFaNum-DemiBold.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansXFaNum-DemiBold.woff") format("woff")
}

@font-face {
    font-family: IRANSansXFaNum;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("~assets/fonts/fontIran/woff2/IRANSansXFaNum-Bold.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansXFaNum-Bold.woff") format("woff")
}

@font-face {
    font-family: IRANSansXFaNum;
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("~assets/fonts/fontIran/woff2/IRANSansXFaNum-ExtraBold.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansXFaNum-ExtraBold.woff") format("woff")
}

@font-face {
    font-family: IRANSansXFaNum;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("~assets/fonts/fontIran/woff2/IRANSansXFaNum-Black.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansXFaNum-Black.woff") format("woff")
}

@font-face {
    font-family: IRANSansX;
    font-weight: 400;
    font-style: normal;
    src: url("~assets/fonts/fontIran/woff2/IRANSansX-Regular.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansX-Regular.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: IRANSansX;
    font-weight: 500;
    font-style: normal;
    src: url("~assets/fonts/fontIran/woff2/IRANSansX-Medium.woff2") format("woff2"),url("~assets/fonts/fontIran/woff/IRANSansX-Medium.woff") format("woff");
    font-display: swap
}